<button (click)="edit = !edit">{{edit ? 'Save': 'Edit'}}</button>
<ng-container *ngIf="edit;then form else info"></ng-container>
<ng-template #form>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <label>
      First Name
      <input formControlName="firstName" />
      <span *ngIf="firstName.errors?.required">This field is required</span>
    </label>
    <label>
      Last Name
      <input formControlName="lastName" />
    </label>
    <label>
      Age
      <input formControlName="age" />
    </label>
    <label>
      Hobbies
      <input [(ngModel)]="newHobby" [ngModelOptions]="{standalone: true}" placeholder="Add new hobby ..." /> 
      <button type="button" (click)="addHobby()">+</button>
      <hr />
      <ul *ngFor="let hobby of userForm.controls.hobbies.value">
        <li>{{hobby}}</li>
      </ul>
    </label>
  </form>
</ng-template>
<ng-template #info>
  <div>First Name: {{user.firstName}}</div>
  <div>Last Name: {{user.lastName}}</div>
  <div>Age: {{user.age}}</div>
  <div>
    Hobbies:
    <ul *ngFor="let hobby of user.hobbies">
      <li>{{hobby}}</li>
    </ul> 
  </div>
</ng-template>